{% load form_tags %}
<h2 class="mb-4">Оставить комментарий</h2>
<form action="{% url 'blog:post_comment' post.id %}" method="post" class="mb-4">
    {% csrf_token %}
    <div class="mb-3">
        <div class="text-muted">Имя:</div>
        {{ form.name|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <div class="text-muted">Email:</div>
        {{ form.email|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        
        <div class="text-muted">Ваш комментарий:</div>
        {{ form.body|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
</form>